.button{
    color: white;
    border: none;
    background-color: #01426A;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    font-size: 1.1rem;
}

.button:hover{
    transform: scale(1.02);
}

.button:disabled{
    background-color: gray;
    transform: none;
}