.ContainerHeader{
    display: flex;
    justify-content: end;
    padding: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);    
}

.nomeCli{
    display: grid;
    gap: 10px;
    background-color: #ebeaea;
    padding: 15px;
    justify-self: end;
    align-self: center;
    
}

.nomeCli span{
    font-weight: bold;
}