.ContainerHeader{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 30px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);    
    justify-content: space-between;
    align-items: center;
    
}

.nomeCli{
    display: grid;
    gap: 10px;
    padding: 10px;
    justify-content: end;
    align-self:     self-start;
    
}

.nomeCli p{
    font-weight: bold;
    background-color: #ebeaea;
    padding: 10px;
}

.nav{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav h2{
    width: 100%;
    font-weight: bold;
    font-size: 25px;
}

@media (max-width:1100px){
    .ContainerHeader{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .nomeCli{
        width: 100%;
    }
}