.containerPedidos{
    display: grid;
    grid-template-columns: 300px 1fr;
}

.ContainerfiltrosPedido{
    padding: 10px;
    margin: 30px 20px;

}

.tituloFiltro{
    font-size: 1.2rem;
    font-weight: bold;
    padding-left:10px ;

}

.buttonBusca{
    width: 100%;
    margin: 5px 0;
    background-color: #01426A;
    color: white;
    padding: 10px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.buttonBusca:active{
    background-color: #01376a;

}

.containerFiltroRegiao{
    height: 200px;
    margin: 10px 0;
    padding: 10px;
    background: #eeeeee;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);

}

.tituloRegiao{
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px ;
}

.buscaRegiao{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    font-size: 1rem;
    padding: 5px;
}

.listCheckbox{
    display: grid;
    grid-template-rows: repeat(auto-fill, 20px);
    gap: 8px;
    overflow: auto;
    height: 120px;
}

.labelCheckbox{
    cursor: pointer;
}

.nomeColuna{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 30px 20px 15px 20px;
}

.nomeColuna span{
    font-weight: bold;
    justify-self: start;
    padding: 10px;
}

.rowPedido{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 30px 30px 30px;
    min-height: 50px;
    background-color: #eeeeee;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}

.rowPedido span{
    padding: 10px;
    justify-self: start;
    align-self: center;
}


.rowPedido button{
    max-width: 180px;
    height: 40px;
    align-self: center;
}
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}



.navegacao{
    display: flex;
    gap: 15px;
    margin: 30px;
    justify-content: center;
}

.navegacao button{
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    background-color: #eeeeee;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);

}

.errorMessage{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
}

@media (max-width:1100px) {
    .containerPedidos{
        margin-bottom:100px ;
    }
}