html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}


/*   animations  */

.animation-opacity {
  transition: 0.5s;
  animation: forwards show-opacity 0.3s;
}

@keyframes show-opacity {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 100%;
    transform: initial;
  }
}


.animation-rigth-to-left{
  transition: 0.5s;
  animation: forwards rigth-to-left 0.5s;
}

@keyframes rigth-to-left {
  0% {
    transform: translateX(100%);
    transition: 5s;
  }
  100% {
    transform: initial;
    display: fixed;
  }
}


.animation-left-rigth-suav {
  transition: 0.5s;
  animation: forwards left-rigth 0.3s;
}

@keyframes left-rigth {
  0% {
    transform: translateX(-15px);
    transition: 5s;
    opacity: 0;
  }
  100% {
    transform: initial;
    
  }
}

.animeDown{
  transition: 0.5s;
  animation: animeDown .5s ease-in-out; 
}

@keyframes animeDown{
  0%{
    transform: translateY(-30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0px);
    opacity: 1;
  }
}


.top-to-down-sequence > * {
  animation: top-to-down-sequence .3s ease-in-out backwards;
}

.top-to-down-sequence > *:nth-child(1) {
  animation-delay: 0.1s;
}

.top-to-down-sequence > *:nth-child(2) {
  animation-delay: 0.2s;
}

.top-to-down-sequence > *:nth-child(3) {
  animation-delay: 0.3s;
}

.top-to-down-sequence > *:nth-child(4) {
  animation-delay: 0.4s;
}

.top-to-down-sequence > *:nth-child(5) {
  animation-delay: 0.5s;
}

.top-to-down-sequence > *:nth-child(6) {
  animation-delay: 0.6s;
}

.top-to-down-sequence > *:nth-child(7) {
  animation-delay: 0.7s;
}

.top-to-down-sequence > *:nth-child(8) {
  animation-delay: 0.8s;
}

.top-to-down-sequence > *:nth-child(9) {
  animation-delay: 0.9s;
}

.top-to-down-sequence > *:nth-child(10) {
  animation-delay: 0.10s;
}
.top-to-down-sequence > *:nth-child(11) {
  animation-delay: 0.11s;

}
.top-to-down-sequence > *:nth-child(12) {
  animation-delay: 0.12s;
}

@keyframes top-to-down-sequence {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* ------------SCROLL BAR------------*/

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #01426A;
}